@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Movie>
    <!--Table-->
    <div>
        <table class="w3-table w3-striped w3-bordered">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Rating</th>
                    <th>Edited</th>
                    <th>Lent To</th>
                    <th>Notes</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!--iterates through each movie and writes to HTML except Indepenndence Day-->
                @foreach (Movie movie in Model)
                {
                        <tr>
                            <td>@movie.category</td>
                            <td>@movie.title</td>
                            <td>@movie.year</td>
                            <td>@movie.director</td>
                            <td>@movie.rating</td>
                            <td>@movie.edited</td>
                            <td>@movie.lentTo</td>
                            <td>@movie.notes</td>
                            <td>
                                <form asp-action="Edit" method="get" class="">
                                    <input type="hidden" name="movieId" value="@movie.movieId" />
                                    <button type="submit" name="edit" class="btn btn-outline-primary shadow">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form asp-action="Delete" method="post" class="">
                                    <input type="hidden" name="movieId" value="@movie.movieId" />
                                    <button type="submit" name="delete" class="btn btn-outline-primary shadow">Delete</button>
                                </form>
                            </td>
                        </tr>
                  
                }

            </tbody>
        </table>
    </div>

